.social-layer {
  display: inline-block;
  text-align: center;
  color: lighten(gray, 30%);
  font-size: 0.9em;

  .social-icons {
    ul {
     list-style: none;
      li {
        display: inline;
        padding-right: 6px;
      }
    }
  }
}
