.portfolio {
  &-item {
    border-bottom: 1px solid $grey-2;
    color: $default-color;
    padding-bottom: 0.75rem;
    margin-top: 0.75rem;
    &:hover .portfolio-line,
    &:focus .portfolio-line {
      width: 5rem;
    }
  }

  &-section{
    margin: 0;
    font-size: 1.8em;
  }

  &-title {
    color: $default-shade;
    display: block;
    font-family: $sans-serif;
    font-size: 1.2rem;
    font-weight: bold;
    margin: 0;
  }

  &-line {
    @include transition(all .3s ease-out);
    border-top: .2rem solid $default-shade;
    display: block;
    width: 2rem;
  }

  &-content {
    color: $default-shade;
    font-family: $sans-serif;
    font-size: 1rem;
  }

  &-links {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    color: $default-shade;
    font-family: $sans-serif;
    font-size: 1rem;
  }


  &-icon {
    margin-left: 1.3rem;
    line-height: 2rem;
  }

  &-icon-text {
    margin-left: 0.8rem;
  }

  &-underline {
    text-decoration:underline;
  }
}

.nodisplay{
  display: none;
}

.on{
  text-decoration: underline;
}

.off{
  cursor:pointer;

  &:hover{
    text-decoration: underline;
  }
}

.nomargin{
  margin: 0;
}

.withlink{
  cursor:pointer;
  color: #000;
  &:hover{
    text-decoration: underline;
  }
}

.important{
  color: red;
}

.portfolio-section {
  display: flex;
  align-items: center;
  gap: 0.75rem;
}

.portfolio-toggle {
  display: inline-flex;
  border: 1px solid #ddd;
  border-radius: 999px;
  overflow: hidden;
  font-size: 0.85rem;
}

.portfolio-tab {
  padding: 0.15rem 0.7rem;
  cursor: pointer;
  user-select: none;
}

.portfolio-tab.active {
  background-color: #333;
  color: #fff;
}

.topic-block {
  margin: 0;
}

.topic-title {
  margin: 0;
  padding-bottom: 0.25rem;
  padding-top: 1.25rem;
  font-size: 1.4em;
  border-bottom: 1px solid #e5e5e5;
}

.btn{
  line-height: 1.25;
}

.btn-sm{
  line-height: 0.75;
}

.topic-more-toggle {
  text-align: center;
  margin: 0;
  height: 0;
}

.topic-more-link {
  position: relative;
  display: inline-block;
  top: -1em;
  padding: 0 0.75rem;
  background-color: #fff;
  cursor: pointer;
  font-size: 0.85rem;
}

#portfolio-featured img {
  margin: 0;
}

.award {
  color: red;
  a {
    color: red;
  }
  a:hover {
    text-decoration: underline;
  }
}

.portfolio-title .award{
  font-size: 0.8em;
  font-weight: normal;
}
