---
layout: base 
---

<div class="post">
  <h2 class="post-title">{{ page.paperTitle }}</h2>
  <div class="container authors">
    <div class="row">
      {% for author in page.authors %}
        <div class="col-4 text-center">
          {% capture name %}{{ author.name }}{% endcapture %}
          {% if author.eqCon %}
            {% capture name %}{{ name }}<sup>*</sup>{% endcapture %}
          {% endif %}
          {% if author.Corr %}
            {% capture name %}{{ name }}<sup>#</sup>{% endcapture %}
          {% endif %}
          {% assign key = author.name | split: " " %}
          {% capture key %}{{ key[1] }}{% endcapture %}
          {% if key == 'Ou' %}
            {% capture name %}<span class='portfolio-underline'>{{ name }}</span>{% endcapture %}
          {% endif %}
          {% if site.link[key] %}
            {% capture name %}<a class="withlink" href={{ site.link[key] }} target="_blank">{{ name }}</a>{% endcapture %}
          {% endif %}
          {{ name }}
          {% if site.email[key] %}
          </br>
          <a class="mailto" href="mailto:{{ site.email[key] }}" title="email">{{ site.email[key] }}</a>
          {% endif %}
        </div>
      {% endfor %}
    </div>
    {% if page.units %}
    <div class="units">
      {% for unit in page.units %}
        <div>
          {{ site.units[unit.name].name }}
        </div>
      {% endfor %}
    </div>
    {% endif %}
  </div>
</div>


<div class="post-content abs">
  {% if page.contents.abstract %}
  <h3>Abstract</h3>
  <p class="abs-text">{{ page.contents.abstract }}</p>
  {% if page.contents.keyword %}
  <h4>Key words</h4>
  <p>{{ page.contents.keyword }}</p>
  {% endif %}
  {% endif %}

  {% if site.journal[page.title].name %}
  <h4>Appeared in: </h4> <p><i>{{ site.journal[page.title].name }}</i>{% if site.journal[page.title].IF %} (IF: {{ site.journal[page.title].IF }}){% endif %},
  <span>{{ page.date | date: "%B %d, %Y" }}.</span>
  {% if page.awards %}
    {% assign index = 0 %}
    {% for award in page.awards %}
      {% if index > 0 %}
        {% capture text %}{{ text }}) ({% endcapture %}
      {% endif %}
      {% assign index = index | plus: 1 %}
      {% if award.link %}
        {% capture text %}{{ text }}<a href="{{ award.link }}">{{ award.name }}</a>{% endcapture %}
      {% else %}
        {% capture text %}{{ text }}{{ award.name }}{% endcapture %}
      {% endif %}
    {% endfor %}
    <span class="award">({{ text }})</span>
  {% endif %}
  </p>
  {% endif %}
</div>

<div class="post-content download">
  <h3>Download</h3>
    {% if page.links %}
      {% for link in page.links %}
        <a href="{{ link.link }}" target="_blank"><button type="button" class="btn btn-outline-dark">{{ link.name }}</button></a>
      {% endfor %}
    {% endif %}
</div>

{% if page.contents.result %}
<div class="post-content result">
  <h3>Result</h3>
  {% if page.contents.result.image %}
    {% assign index = 1 %}
    {% for img in page.contents.result.image %}
      <img src="{{ img.link }}" />
      <p class="caption">Figure {{ index }}. {{ img.caption }}</p>
      {% assign index = index | plus: 1 %}
    {% endfor %}
  {% endif %}
  <div class="text">
    {% for paragraph in page.contents.result.text %}
      <p>{{ paragraph }}</p>
    {% endfor %}
  </div>
</div>
{% endif %}

{% if page.contents.citation %}
<div class="post-content ref">
  <h3>Reference</h3>
  <h4>Citation</h4>
  <p>{{ page.contents.citation }}</p>
  {% if page.contents.bib %}
    <h4>BibTeX</h4>
    <pre>{{ page.contents.bib }}</pre>
  {% endif %}
</div>
{% endif %}

{% if page.contents.ack %}
<div class="post-content ack">
  <h3>Acknowledgments</h3>
  <p>{{ page.contents.ack }}</p>
</div>
{% endif %}
