---
layout: base 
---

<div class="post">
  <h2 class="post-title">{{ page.title }}</h2>
  <div class="container authors">
    <div class="row">
      {% for author in page.authors %}
        <div class="col-4 text-center">
          {% capture name %}{{ author.name }}{% endcapture %}
          {% if author.eqCon %}
            {% capture name %}{{ name }}<sup>*</sup>{% endcapture %}
          {% endif %}
          {% if author.Corr %}
            {% capture name %}{{ name }}<sup>#</sup>{% endcapture %}
          {% endif %}
          {% assign key = author.name | split: " " %}
          {% capture key %}{{ key[1] }}{% endcapture %}
          {% if key == 'Ou' %}
            {% capture name %}<span class='portfolio-underline'>{{ name }}</span>{% endcapture %}
          {% endif %}
          {% if site.link[key] %}
            {% capture name %}<a class="withlink" href={{ site.link[key] }} target="_blank">{{ name }}</a>{% endcapture %}
          {% endif %}
          {{ name }}
          {% if site.email[key] %}
          </br>
          <a class="mailto" href="mailto:{{ site.email[key] }}" title="email">{{ site.email[key] }}</a>
          {% endif %}
        </div>
      {% endfor %}
    </div>
    {% if page.units %}
    <div class="units">
      {% for unit in page.units %}
        <div>
          {{ unit.name }}
        </div>
      {% endfor %}
    </div>
    {% endif %}
  </div>
</div>

{% if page.abstract %}
<div class="post-content abs">
  <h3>Abstract</h3>
  <p class="abs-text">{{ page.abstract }}</p>
  {% if page.abstract %}
  <h4>Key words</h4>
  <p>{{ page.keyword }}</p>
  {% endif %}
  {% if page.publisher %}
  <h4>Appeared in: </h4> <p><i>{{ page.publisher }}</i>,
  <span>{{ page.date | date: "%B %d, %Y" }}.</span>
  {% if page.awards %}
    {% assign index = 0 %}
    {% for award in page.awards %}
      {% if index > 0 %}
        {% capture text %}{{ text }} & {% endcapture %}
      {% endif %}
      {% assign index = index | plus: 1 %}
      {% if award.link %}
        {% capture text %}{{ text }}<a href="{{ award.link }}">{{ award.name }}</a>{% endcapture %}
      {% else %}
        {% capture text %}{{ text }}{{ award.name }}{% endcapture %}
      {% endif %}
    {% endfor %}
    <span class="award">({{ text }})</span>
  {% endif %}
  </p>
  {% endif %}
</div>
{% endif %}

<div class="post-content download">
  <h3>Download</h3>
    {% if page.links %}
      {% for link in page.links %}
        <a href="{{ link.link }}" target="_blank"><button type="button" class="btn btn-outline-dark">{{ link.name }}</button></a>
      {% endfor %}
    {% endif %}
</div>

{% if page.result %}
<div class="post-content result">
  <h3>Result</h3>
  <img src="{{ page.result.image }}" />
  <p class="caption">Figure. {{ page.result.caption }}</p>
  <div class="text">
    {% for paragraph in page.result.text %}
      <p>{{ paragraph }}</p>
    {% endfor %}
  </div>
</div>
{% endif %}

{% if page.citation %}
<div class="post-content ref">
  <h3>Reference</h3>
  <h4>Citation</h4>
  <p>{{ page.citation }}</p>
  {% if page.bib %}
    <h4>BibTeX</h4>
    <pre>{{ page.bib }}</pre>
  {% endif %}
</div>
{% endif %}

{% if page.ack %}
<div class="post-content ack">
  <h3>Acknowledgments</h3>
  <p>{{ page.ack }}</p>
</div>
{% endif %}




<!--<div class="post-content">-->
  <!--{{ content }}-->
<!--</div>-->

<div class="pagination">
  {% if page.next.url %}
    <a href="{{ page.next.url | prepend: site.baseurl }}" class="left next">Prev</a>
  {% endif %}
  {% if page.previous.url %}
    <a href="{{ page.previous.url | prepend: site.baseurl }}" class="right next">Next</a>
  {% endif %}

  <a href="#" class="top">Top</a>
</div>
